<!DOCTYPE html>

<html>

<head>

	<title>Приватный чат</title>

	<link type="text/css" rel="stylesheet" href="../css/stylesheet.css" />
	<link href="http://fonts.googleapis.com/css?family=Open+Sans Condensed:300italic,300,700" rel="stylesheet" type="text/css">


</head>

<body>

	<section class="section">

		<div class="connected">

			<img src="../img/unnamed.jpg" id="creatorImage" />

			<div class="infoConnected">
				<h2>Как Вас зовут?</h2>
				<br/>

				<form class="loginForm">
					<input type="text" id="yourName" placeholder="Имя" /><br/>
					<input type="text" id="yourEmail" placeholder="Email" /><br/>
					<input type="submit" id="yourEnter" value="ВОЙТИ" />
				</form>

			</div>

		</div>

		<div class="personinside">

			<img src="../img/unnamed.jpg" id="ownerImage" />

			<div class="infoInside">
				<h2>Начните чат с <span class="nickname-chat"></span></h2>
				<br/>

				<form class="loginForm">
					<input type="text" id="hisName" placeholder="Имя" /><br/>
					<input type="text" id="hisEmail" placeholder="Email" /><br/>
					<input type="submit" id="hisEnter" value="ВОЙТИ" />
				</form>

			</div>

		</div>

		<div class="invite-textfield">

			<h2>Ой-ой-ой, в Вашем чате еще никого нет!</h2>
			<h5>Пригласите друга, отправив ему эту ссылку:</h5>

			<div class="link">
				<a title="Invite a friend" href="" id="link"></a>
			</div>

		</div>

		<div class="left">

			<img src="../img/unnamed.jpg" id="leftImage" />

			<div class="info">
				<h2><span class="nickname-left"></span> вышел из чата.</h2>
				<h5>Пригласите кого-нибудь ещё, отправив ему эту ссылку:.</h5>
			</div>

		</div>

		<div class="toomanypeople">

			<h2>Ой, Вы не можете сюда войти!</h2>
			<h5>В этой комнате уже находятся два человека. Может быть, Вы хотите <a title="New Room" href="/create" id="room">создать свой чат</a>?</h5>

		</div>

		<div class="nomessages">

			<img src="../img/unnamed.jpg" id="noMessagesImage" />

			<div class="info">
				<h2>Вы находитесь в чате с <span class="nickname-chat"></span>.</h2>
				<h5>Отправьте первое сообщение!</h5>
			</div>

		</div>

		<div class="chatscreen">

			<ul class="chats">
				
			</ul>

		</div>

	</section>

	<footer>

		<form id="chatform">

			<textarea id="message" placeholder="Напишите сообщение.."></textarea>
			<input type="submit" id="submit" value="ОТПРАВИТЬ"/>

		</form>

	</footer>

	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="../js/moment.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="../js/chat.js"></script>

</body>

</html>
